* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("vd.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    color: white;
}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 30px;
}

.buttons {
    position: relative;
    width: 300px;
    height: 150px;
}

button {
    padding: 12px 25px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    position: absolute;
}


#yes {
    background-color: red;
    color: white;
    left: 40px;
    bottom: 20px;
}


#no {
    background-color: blue;
    color: white;
}

